body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077b6;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #004d80;
    padding: 10px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

section {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.section:hover {
    transform: scale(1.02);
}

h2 {
    color: #0077b6;
    font-size: 24px;
}

.experience-item {
    margin: 20px 0;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 8px;
}

a {
    color: #0077b6;
}

a:hover {
    text-decoration: underline;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    border-radius: 50%; /* Creates a circular image */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

.about-text {
    flex: 2;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    margin: 5px; /* Adjust the margin as needed for spacing */
}
